# Python
__pycache__/
*.py[cod]
*$py.class

# Dagster
dagster_home/
.tmp_dagster_home*

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# Data / artifacts
data/
chunks/
*.csv
*.parquet
